<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="/public/images/candidatos/nicoletti.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Antonio Nicoletti (PSL)</h5>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="/public/images/candidatos/arthur.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Arthur Henrique (MDB)</h5>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="/public/images/candidatos/gerlane.jpg" alt="">

      <div class="card-body">
        <h5 class="card-title">Fábio Almeida (PSOL)</h5>
      </div>
    </div>
  </div>


  <div class="col mb-4">
    <div class="card">
      <img src="/public/images/candidatos/fabio-almeida.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Gerlane Baccarin (PP)</h5>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="/public/images/candidatos/isamar-candidatofoto.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Isamar Ramalho (Podemos)</h5>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="/public/images/candidatos/linoberg.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Linoberg Almeida (Rede)</h5>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="/public/images/candidatos/luciano-castro.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Luciano Castro (PL)</h5>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="/public/images/candidatos/ottaci.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Ottaci Nascimento (SD)</h5>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="/public/images/candidatos/shaolingomes.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">OShaolyn Gomes (PMN)</h5>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="/public/images/candidatos/sheridanoliveiraa.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Shéridan Oliveira (PSDB)</h5>
      </div>
    </div>
  </div>
</div>